@keyframes slogan-animation-roll {
  0% {
    transform: translate3d(0, 0px, 0);
  }

  15% {
    transform: translate3d(0, -25%, 0);
  }

  25% {
    transform: translate3d(0, -25%, 0);
  }

  40% {
    transform: translate3d(0, -50%, 0);
  }

  50% {
    transform: translate3d(0, -50%, 0);
  }

  65% {
    transform: translate3d(0, -75%, 0);
  }

  75% {
    transform: translate3d(0, -75%, 0);
  }

  100% {
    transform: translate3d(0, -75%, 0);
  }
}

@keyframes slide-in-slogan {
  0% {
    transform: translate3d(-120%, 0, 0);
  }

  100% {
    transform: translate3d(0%, 0, 0);
  }
}

.slogan-animate-roll {
  animation: slogan-animation-roll 5s 3s forwards infinite;
}

.slogan-slide-in {
  transform: translate3d(-120%, 0, 0);
  animation: slide-in-slogan 0.5s 1.5s ease forwards;
}
