@keyframes header-slide-in-animation {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header-slide-in-animate {
  transform: translateY(-200px);
  animation: header-slide-in-animation 0.5s 1s ease forwards;
}
