@keyframes bounce-scroll-button-animation {
  0% {
    transform: translate3d(0, 0px, 0);
  }

  100% {
    transform: translate3d(0, -10px, 0);
  }
}

@keyframes slide-in-button-animation {
  0% {
    transform: translate3d(0, 200px, 0);
  }

  100% {
    transform: translate3d(0, 0px, 0);
  }
}

.scroll-button-animate {
  animation: bounce-scroll-button-animation 1s ease alternate infinite;
}

.scroll-button-slide-animate {
  transform: translate3d(0, 200px, 0);
  animation: slide-in-button-animation 0.5s 2s ease forwards;
}
