@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .brand-text-shadow {
    text-shadow: 4px 4px 0px rgba(250, 68, 21, 0.2);
  }

  .agency-services__highlight {
    transform-origin: left;
    transform: scale(1.2);
    @apply text-brand-green-accent;
  }
}

:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.hide-scroll-bar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
