@import "tailwindcss";

@theme {
  --color-brand-orange: #fa4415;
  --color-brand-bg-gray: #e8dfd4;
  --color-brand-green: #00a88e;
  --color-brand-purple: #43283b;
  --color-brand-green-accent: #00ffd8;
  --color-brand-text-dark: #222;

  --shadow-brand: 4px 4px 0px rgba(250, 68, 21, 0.2);
  --shadow-brand-img: 8px 8px 0px rgba(250, 68, 21, 0.2);
  --shadow-brand-pink: 10px 10px 0px 0px rgba(250, 142, 142, 0.5);

  --aspect-portrait: 9 / 16;
}
@layer utilities {
  .brand-text-shadow {
    text-shadow: 4px 4px 0px rgba(250, 68, 21, 0.2);
  }

  .agency-services__highlight {
    transform: scale(1.2);
    @apply text-brand-green-accent;
  }
}

html,
body,
#app {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  background: var(--color-brand-bg-gray);
}

.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.hide-scroll-bar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* rich text styles */
.rich_text_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rich_text_container p {
  font-weight: var(--font-weight-light);
}

.rich_text_container p strong {
  font-weight: var(--font-weight-bold);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-brand-bg-gray);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-brand-purple);
  border-radius: 8px;
  border: 3px solid var(--color-brand-bg-gray);
}
